@page "/"

<h1>Welcome to WebBallistics</h1>
<p>This is the home page for the WebBallistics application! Here you can simulate projectile trajectories and analyze the physics of ballistics.</p>
<p>You can find the source code implementation at https://github.com/The2Innkeeper/WebBallistics.</p>

<NavLink class="btn btn-primary" href="ballistics">Go to Ballistics Simulator</NavLink>