@page "/unsupported-browser"

<h3>Unsupported Browser</h3>
<p>Unfortunately, your browser does not support WebAssembly, which is required to run this application. Please update to
    a modern browser that supports WebAssembly, such as recent versions of Chrome, Edge, FireFox or Safari.
    For more details about WebAssembly, visit: https://webassembly.org/
    or to check supported browsers: https://caniuse.com/wasm</p>