@page "/"

<h1>Welcome to BlazorWebBallistics</h1>
<p>This is the home page for the BlazorWebBallistics application! Here you can simulate projectile trajectories and analyze
    the physics of ballistics.</p>
<p>You can find the source code implementation at https://github.com/The2Innkeeper/BlazorWebBallistics.</p>

<NavLink class="btn btn-primary" href="ballistics">Go to Ballistics Simulator</NavLink>