@page "/unsupported-browser"

<h3>Unsupported Browser</h3>
Unfortunately, your browser does not support WebAssembly, which is required to run this application. Please update to
a modern browser that supports WebAssembly, such as recent versions of Chrome, Edge, FireFox or Safari.
For more details about WebAssembly, visit: <a href="https://webassembly.org/">https://webassembly.org/</a>
or to check supported browsers: <a href="https://caniuse.com/wasm">https://caniuse.com/wasm</a>
